.container {
    max-width: 600px;
    margin: 10px 450px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1,
  h2,
  h3 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 0;
    box-sizing: border-box;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #218838;
  }

  /* invoce */

  .invoice {
    width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .company-details {
    margin-top: 10px;
  }
  
  .buyer-details,
  .item-details,
  .amount-details,
  .footer {
    margin-bottom: 20px;
  }
  
  .buyer-details {
    display: flex;
    justify-content: space-between;
  }
  
  .buyer-info,
  .invoice-info {
    width: 48%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  table th,
  table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table tfoot {
    font-weight: bold;
  }
  
  .footer {
    font-size: 0.9em;
  }
  
  .signature {
    margin-top: 20px;
    text-align: right;
    padding-top: 50px;
  }
  
  .jurisdiction {
    text-align: center;
    margin-top: 10px;
  }
  