html {
    scroll-behavior: smooth;
  }
  :root {
    --bg-color: linear-gradient(90deg, #0b5ca3, #c00c66);
    --text-color: #ffe8f4f3;
    --some-text:#1a1a1a;
    --text-color-change:#ae9da6;
    --gradient-start: #3494e6;
    --gradient-end: #ec6ead;
    --background: #111111;
    --profile:rgba(255, 255, 255, 0.02);
    --black:rgb(0, 0, 0);
    --border:#2b2b2b;
    --bg:#fff;
  }
  body.light {
    --bg-color:  linear-gradient(120deg, #4776E6  , #8E54E9);
    --text-color: #373737;
    --gradient-start: #4776E6;
    --gradient-end: #8E54E9;
    --background: #e9eaed ;
    --text-color-change:#6b6b6b;
    --some-text:#f2f3f5;
    --black:#f2f3f5;
    --border:#7e7e7e90;
    --bg:#1a1a1a;
    --profile:#e9eaed98;
  }


/* App.css */
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
    line-height: 1.6;
}

.home, .about, .projects, .services, .contact {
    padding: 20px;
    text-align: center;
}
